
.background{
    background:  linear-gradient(to left, #E8E8E8, #bcbcbc);
    width: 100%;
    height: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes animate {
    0% {
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        border-radius: 25%;
        transform: translateY(-2000px) rotate(720deg);
    }
}

.circles div{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(to left, #737373, #D9D9D9);
    bottom: -400px;
    animation: animate 25s linear infinite;
}

.circles div:nth-child(1){
    left: 25%;
    width: 200px;
    height: 200px;
    animation-delay: 0s;
}
.circles div:nth-child(2){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;

}
.circles div:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 8s;
}
.circles div:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles div:nth-child(5){
    left: 65%;
    width: 200px;
    height: 200px;
    animation-delay: 3s;
}

.circles div:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles div:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles div:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles div:nth-child(9){
    left: -5%;
    width: 300px;
    height: 300px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles div:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 23s;
}

.circles div:nth-child(11){
    left: 45%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
    animation-duration: 11s;
}

.circles div:nth-child(12){
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 8s;
    animation-duration: 25s;
}

.circles div:nth-child(13){
    left: 90%;
    width: 300px;
    height: 300px;
    animation-delay: 3s;
    animation-duration: 90s;
}

.circles div:nth-child(14){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 8s;
}

.circles div:nth-child(15){
    left: 15%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 25s;
}