* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.LoginForms{
    position: fixed;
}

.Titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Titles h1 {
  color: black;
  filter: drop-shadow(0 0 0.9rem rgba(0, 0, 0, 0.5));
  font-size: 3em;
  padding-bottom: 3%;
}

.Titles h2 {
  color: black;
  filter: drop-shadow(0 0 0.9rem rgba(0, 0, 0, 0.5));
  font-size: 2em;
  padding-bottom: 5%;
}


.Titles img {
    width: 150px; /* Sets a fixed width of 300 pixels */
    height: 150px; /* Sets a fixed height of 200 pixels */
    filter: drop-shadow(0 0 0.9rem rgba(0, 0, 0, 0.5));
    padding-bottom: 5%;
}


.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 50vh; /* Sets the height of the content area */
    width: 40vh; /* Sets the width of the content area */
    backdrop-filter: blur(5px);
    background-color: #EDEDED; /* Sets the background color of the box */
    background: rgba(255, 255, 255, 0.2);

    border-radius: 16px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.loginform p{
    align-self: baseline;
    color: black;
    filter: drop-shadow(0 0 0.9rem rgba(0, 0, 0, 0.5));
    font-weight: bold;
}

.loginform img{
    height: 40px;
    padding: 10px;
}

.loginform input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.loginform button{
  height: 8%;
  width: 75%;
  background-color: #34476D;
  margin: 45px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}


.loginGroup{
    display: flex;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}

.groupPassword{
    display: flex;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}

.inputbox{
    display: flex;
    padding: 0px 10px 5px 10px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}