.user-card {
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.user-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  width: 100%;
}

.user-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 100px;
}

.user-left span {
  font-size: 12px;
}

.username {
  font-weight: bold;
  font-size: 14px;
  width: 125px;
}

.role {
  color: #555;
  font-size: 11px;
}

.user-right {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 11px;
  gap: 8px;
  flex: 1;
}

.limiter{
  border-bottom: 1px solid rgb(221, 221, 221); /* Creates a 1px solid black line at the bottom of the element */
  width: 100%; /* Ensures it spans the full width of its parent */
  margin: 15px 0; /* Adds some spacing above and below */
}

@media (max-width: 1024px) {
  .user-card {
    flex-direction: column;
    padding: 10px;
  }

  .user-left {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: unset;
  }

  .username {
    flex: 1 1 100%;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .user-right {
    padding-left: 0;
    font-size: 12px;
  }

}



/* --- Responsive --- */
@media (max-width: 600px) {
  .user-card {
    flex-direction: column;
    padding: 10px;
  }

  .user-left {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: unset;
  }

  .username {
    flex: 1 1 100%;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .user-right {
    padding-left: 0;
    font-size: 12px;
  }

}
